<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lorem Ipsum</title>
</head>
<body>
<form action="/generate" th:method="get">

    <textarea cols="120" rows="25" th:text="${text}" disabled>
    </textarea><br>

    <input name="number" type="number" value="1" step="1" min="0"><br>

    <select name="option">
        <option value="1">Akapity</option>
        <option value="2">Zdania</option>
        <option value="3">Słowa</option>
    </select>

    <input type="submit" value="GENERATE!"><br>

</form>

</body>
</html>